#text-content {
   position: absolute;
   right: 120px;
   top: 200px;
   width: fit-content;
   max-width: 780px;
   height: fit-content;

   #subtitle {
      overflow: hidden;
      height: 19px;
      h2 {
         font-family: Montserrat;
         font-size: 1rem;
         text-transform: uppercase;
      }
   }

   #title {
      div {
         overflow: hidden;
         height: 133px;
      }
      #second-row {
         overflow-y: hidden;
         margin-bottom: 20px;
      }
      h1 {
         font-family: CrimsonText;
         color: white;
         font-size: 6rem;
         font-weight: 400;
      }
   }

   #description {
      overflow: hidden;
      height: 105px;
      text-overflow: ellipsis;
      width: 740px;
      p {
         width: 740px;
         overflow: hidden;
         text-overflow: ellipsis;
         display: -webkit-box;
         -webkit-line-clamp: 3;
         -webkit-box-orient: vertical;
         font-family: CrimsonText;
         font-size: 1.6rem;
      }
   }
   button {
      border: none;
      background-color: transparent;
      outline: none;
      font-family: CrimsonText;
      font-size: 1.6rem;
      font-style: italic;
      font-weight: 400;
      color: white;
      text-decoration: underline;
      cursor: pointer;
   }
   button:hover {
      color: #3e428e;
   }
}

@media (max-width: 1160px) {
   #text-content {
      max-width: 520px;
      right: 0;
      left: 0;
      margin: auto;
      #title {
         div {
            height: 110px;
         }
         h1 {
            font-size: 5rem;
         }
      }
      #description {
         width: 480px;
         height: 79px;
         p {
            width: 480px;
            font-size: 1.2rem;
         }
      }
      button {
         font-size: 1.4rem;
      }
   }
}

@media (max-width: 768px) {
   #text-content {
      max-width: 420px;
      right: 0;
      left: 0;
      margin: auto;
      #title {
         div {
            height: 66px;
         }
         h1 {
            font-size: 3rem;
         }
      }
      #description {
         width: 380px;
         height: 79px;
         p {
            width: 380px;
            font-size: 1.2rem;
         }
      }
      button {
         font-size: 1.4rem;
         margin-top: 20px;
      }
   }
}
