#text-content {
   position: relative;
   width: 100%;
   max-width: 580px;
   margin-right: 60px;
   margin-left: auto;
   padding: 10px 30px;
   top: 15%;
   #subtitle {
      overflow-y: hidden;
      height: 19px;
      h2 {
         font-family: Montserrat;
         font-size: 1rem;
         text-transform: uppercase;
      }
   }

   #title {
      div {
         overflow-y: hidden;
         height: 52px;
      }
      #second-row {
         overflow-y: hidden;
         margin-bottom: 20px;
      }
      h1 {
         font-family: CrimsonText;
         color: white;
         font-size: 2.4rem;
         font-weight: 400;
      }
   }

   #description {
      overflow: hidden;
      height: 81px;
      text-overflow: ellipsis;

      p {
         overflow: hidden;
         text-overflow: ellipsis;
         display: -webkit-box;
         -webkit-line-clamp: 3;
         -webkit-box-orient: vertical;
         font-family: CrimsonText;
         font-size: 1.2rem;
      }
   }
   button {
      border: none;
      background-color: transparent;
      outline: none;
      font-family: CrimsonText;
      font-size: 1.2rem;
      font-style: italic;
      font-weight: 400;
      color: white;
      text-decoration: underline;
      cursor: pointer;
   }
   button:hover {
      color: #3e428e;
   }
}
