#sidebar {
   position: absolute;
   right: 60px;
   top: 0;
   bottom: 0;
   margin: auto;
   height: fit-content;
}

.dots {
   width: 18px;
   height: 18px;
   border-radius: 50%;
   background-color: transparent;
   border: 2px solid white;
   margin: 20px 0;
   opacity: 0.5;
   position: relative;
}

.dots::after {
   content: "";
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: white;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   opacity: 0;
}

.active {
   width: 18px;
   height: 18px;
   border-radius: 50%;
   background-color: transparent;
   border: 2px solid white;
   margin: 20px 0;
   position: relative;
   opacity: 1;
}

.active::after {
   content: "";
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: white;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   opacity: 1;
}
