#number-container {
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 60px;
   left: 70px;
   h1 {
      font-family: MuktaMalar;
      font-size: 6rem;
      line-height: 1;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #fff;
   }
   #number-pages {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      height: 96px;
      border-bottom: 4px solid white;
   }
}

@media (max-width: 760px) {
   #number-container {
      left: 20px;
      h1 {
         font-size: 3rem;
      }
      #number-pages {
         height: 48px;
      }
   }
}
